# Experience Analytics

In [1]:
import os

os.chdir("..")  # set the working directory one level up
from scripts.db_connection import DbConnection
from scripts.analyzer import Analyzer
from scripts.graph import Graph

db_connection = DbConnection()
analyzer = Analyzer()
graph = Graph()

DB connection engine created successfully.

## load the data

In [2]:
engin = db_connection.get_engine()
query = db_connection.select_all_query()
data = analyzer.load_data(query, engin)

## Data cleaning

In [3]:
cleaned_data = analyzer.clean_customer_experience_data(data)

## Compute & list 10 of the top, bottom, and most frequent:

In [4]:
customer_agg = analyzer.aggregate_customer_experience(cleaned_data)
top_bottom_10 = analyzer.compute_top_bottom_frequent(customer_agg)
top_bottom_10

{'TCP Retransmission': {'Top 10': 47144    3.687675e+08
  58387    3.684462e+08
  59734    3.661276e+08
  96372    3.638227e+08
  22440    3.622126e+08
  23388    3.592816e+08
  31320    3.556349e+08
  59038    3.532075e+08
  68197    3.516247e+08
  65059    3.453570e+08
  Name: TCP Retransmission, dtype: float64,
  'Bottom 10': 23472      97.0
  6359      128.0
  96977     129.0
  13546     134.0
  2177      143.0
  25863     176.0
  102198    176.0
  105775    177.0
  78100     179.0
  89395     182.0
  Name: TCP Retransmission, dtype: float64,
  'Most Frequent 10': TCP Retransmission
  2.156957e+07    55974
  2.081121e+07      367
  2.081124e+07      167
  7.609887e+05      145
  2.119039e+07       82
  2.081123e+07       81
  7.597507e+05       78
  7.623187e+05       78
  7.596967e+05       70
  2.081257e+07       65
  Name: count, dtype: int64},
 'RTT': {'Top 10': 30037     1907.0
  3722      1805.0
  104281    1798.0
  27068     1794.0
  66299     1792.0
  17353     1787.0
  36159     1778.0
  77980     1772.0
  52499     1771.0
  66561     1771.0
  Name: RTT, dtype: float64,
  'Bottom 10': 28878     0.0
  44748     0.0
  39066     2.0
  83396     4.0
  36039     5.0
  69662     6.0
  21980     8.0
  3882      9.0
  74434     9.0
  17863    10.0
  Name: RTT, dtype: float64,
  'Most Frequent 10': RTT
  127.458589    18515
  29.000000      2950
  39.000000      2367
  38.000000      1639
  40.000000      1583
  30.000000      1577
  28.000000      1456
  49.000000      1308
  41.000000      1207
  31.000000      1190
  Name: count, dtype: int64},
 'Throughput': {'Top 10': 3293      120044.093729
  69073     117102.909561
  85146     115274.125241
  8661      113665.780478
  58937     112529.522195
  9310      111616.689896
  20227     111387.998901
  53589     110822.562361
  75014     108193.051596
  106451    105725.420593
  Name: Throughput, dtype: float64,
  'Bottom 10': 71927      93.560778
  67796      94.473518
  100323    111.577411
  59724     114.451615
  62779     115.211793
  1998      120.032127
  87392     124.053135
  59581     128.888356
  91140     129.469283
  30139     143.000993
  Name: Throughput, dtype: float64,
  'Most Frequent 10': Throughput
  159.975405      1
  7528.192032     1
  865.528020      1
  4415.580489     1
  8467.073620     1
  39277.832380    1
  2430.157828     1
  5100.678295     1
  2409.409219     1
  1993.058966     1
  Name: count, dtype: int64}}

## Clustering

In [5]:
clustered_data = analyzer.cluster_data(customer_agg)
clustered_data.head()

,MSISDN/Number,TCP Retransmission,RTT,Throughput,Handset Type,Cluster
0,3.360100e+10,2.156957e+07,46.000000,7528.192032,Huawei P20 Lite Huawei Nova 3E,1
1,3.360100e+10,2.156957e+07,31.000000,865.528020,Apple iPhone 7 (A1778),1
2,3.360100e+10,2.156957e+07,127.458589,4415.580489,Huawei B528S-23A,1
3,3.360101e+10,7.607247e+05,84.000000,8467.073620,Apple iPhone 5S (A1457),1
4,3.360101e+10,1.547020e+07,59.500000,39277.832380,Apple iPhone Se (A1723),2

In [6]:
group_cluster_data = analyzer.group_cluster_data(customer_agg)
group_cluster_data

,Cluster,Number of Users,Average TCP Retransmission,Average RTT,Average Throughput,Number of Handsets
0,0,1878,8.237395e+06,883.790447,14886.304790,1878
1,1,94739,1.691153e+07,86.461203,5721.000719,94739
2,2,10239,8.512441e+06,95.914009,32389.645689,10239